@font-face {
  font-family: Calculator;
  src: url(Calculator.ttf);
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Calculator;
  margin: 0;
  user-select: none;
}

.startPlay-container,
.end-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-container {
  display: none;
}

.startPlay-container h1,
.end-container h1 {
  font-size: 140px;
  margin: 8px;
}

.startPlay-container p {
  font-size: 30px;
  margin: 8px;
  color: #0e3b00;
  font-weight: 600;
}

.startPlay-container span,
.end-container span {
  font-size: 40px;
  cursor: pointer;
  transition: 0.5s all;
}

.startPlay-container span:hover {
  color: #4f4f4f;
}

.calculator-top {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.calculator-screen {
  flex: 1;
  padding: 8px;
  background-color: #b7e7b7;
  color: rgb(0, 66, 20);
  font-size: 30px;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}

.calculator-screen-error {
  background-color: rgb(243, 28, 28);
}

.calculator-screen-correct {
  background-color: #1ff81f;
}

.calculator-time {
  width: 100px;
  height: 100px;
  background-color: #2d2d2d;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.calculator-buttons {
  flex: 1 1 1;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 100px);
}

.calculator-button {
  flex: 1 1 25%;
  background-color: #7b7a7a;
  color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s all;
}

.calculator-button:hover {
  background-color: #676767;
}

.btn {
  background-color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  color: black;
  border: 2px solid #555555;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.068);
}
